<assembly xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.3"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.3 http://maven.apache.org/xsd/assembly-1.1.3.xsd">
	<id>server</id>
	<formats>
		<format>tar.gz</format>
	</formats>
	<includeBaseDirectory>false</includeBaseDirectory>
	<fileSets>
		<fileSet>
			<directory>src/main/resources/server</directory>
			<outputDirectory>IMAPCloud-server</outputDirectory>
			<includes>
				<include>*.yml</include>
			</includes>
			<lineEnding>unix</lineEnding>
		</fileSet>
		<fileSet>
			<directory>src/main/resources/server</directory>
			<outputDirectory>IMAPCloud-server</outputDirectory>
			<includes>
				<include>*.sh</include>
			</includes>
			<lineEnding>unix</lineEnding>
			<fileMode>0755</fileMode>
		</fileSet>
	</fileSets>
	<dependencySets>
		<dependencySet>
			<outputDirectory>IMAPCloud-server</outputDirectory>
			<includes>
				<include>pl.pamsoft.imapcloud:core:jar:exec</include>
			</includes>
			<outputFileNameMapping>IMAPCloud.jar</outputFileNameMapping>
		</dependencySet>
	</dependencySets>
</assembly>
