<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="org.springframework.web" level="ERROR"/>

	<logger name="pl.pamsoft" level="DEBUG"/>
	<logger name="org.springframework.boot.autoconfigure.security" level="INFO"/>
</configuration>

<!--
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />

	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

	<logger name="org.springframework.web" level="ERROR"/>
	<logger name="org.springframework.boot.autoconfigure.security" level="INFO"/>
	<logger name="pl.pamsoft" level="INFO"/>

	-->
