<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE logback>
<configuration debug="true">
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="JAMONAPPENDER" class="pl.pamsoft.imapcloud.config.jamon.JAMonLogbackAppender">
		<param name="EnableListeners" value="DEBUG"/>
		<param name="EnableListeners" value="ERROR"/>
		<param name="EnableListeners" value="FATAL"/>
		<param name="EnableListeners" value="WARN"/>
	</appender>

	<root>
		<appender-ref ref="JAMONAPPENDER" />
	</root>
</configuration>
